/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
  background-attachment: fixed;
}

body {
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 1.5;
  color: hsl(0, 0%, 20%);
}

h1, h2 {
  color: #000000;
}

p {
  text-indent: 3rem;
}

/* BODY */
.container-fluid{
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  z-index: 9999;
  background-color: rgba(0,0,0,0.99);
}

.logo {
  margin-top: -1rem;
  margin-left: 7%;
  cursor: pointer;
}

.icons {
  margin-top: 0.3rem;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  display: flex;
  margin-right: 5rem;
}

.icon {
  cursor: pointer;
}

.icon:not(:last-child) {
  margin-right: 1rem;
}

.icn {
  color: white;
}

.icn:hover {
  color: #fbdb3b;
}

#navbar {
  position: fixed;
  top: 7rem;
  left: 0px;
  width: 30vw;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-top: none;
}

#navbar header {
  text-align: center;
}

#nav-list {
  list-style: none;
  padding-left: 0px;
  overflow-y:auto;
}

#nav-list li {
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 90%);
  text-align: center;
}

#nav-list li:hover {
  animation-name: nav-list-item-color;
  animation-duration: 90ms;
  animation-fill-mode: forwards;
}

@keyframes nav-list-item-color {
  100% {
      background-color: hsl(49, 78%, 82%);
      border-width: 2px;
      border-color: hsl(51, 66%, 52%);
  }
}

.nav-link {
  text-decoration: inherit;
  color: inherit;
}

main {
  margin-left: 31vw;
  margin-right: 1vw;
  margin-top: 7rem;
}

main ol {
  list-style: disc;
}

main li {
  margin-top: 5px;
}

.main-section {
  text-align: justify;
}

code{
  background-color: hsl(49, 78%, 82%);
  display:block;
  line-height: 2;
  white-space: pre;
  word-wrap: normal;
  border-radius:5px;
  border: 1px hsl(51, 66%, 52%) solid;
  padding: 5px;
  padding-left: 10px;
}

.mdn {
  color: #d5bc33;
}

.space-only {
  height: 10vh;
}

/* FOOTER */
.footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

span{
  color: #d5bc33;
}

@media(max-width: 810px) {
  #navbar {
    position: relative;
    width: 100%;
    border-style: none;
    height: auto;
  }
  #nav-list {
    max-height: 35vh;
    width: 100%;
  }

  main {
    margin: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10rem;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 90%;
  }

  main {
    margin-top: 10rem;
  }

  .logo {
    margin-left: 0;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 80%;
  }
}